<!--头部导航-->
<header class="header-wrapper main-header icl-header">

    <nav class="navbar navbar-static-top">
        <div class="nav-header"></div>
    </nav>
</header>

<!--头部导航 end-->

<!-- 侧边栏 -->
<aside class="sidebar-wrapper main-sidebar">
    <section class="sidebar" id="sidebar">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" title="fold">
            <div class="fa  fa-bars fold"></div>
        </a>
        <ul class="sidebar-menu" id="sidebar-menu"></ul>
    </section>

</aside>
<!-- 侧边栏 end-->

<!-- 内容区 -->
<div class="content-wrapper edit-container">

    <section class="content">
        <span class="fa  fa-compress" id="showCodeBtn">&nbsp;源码</span>
        <span class="fa  fa-opera" id="showPageBtn">&nbsp;直接打开</span>
        <div class="pane" id="codePane" style="display: none">
            <div class="codePaneTool">
                CoderEditor
                <div class="fa fa-play-circle-o editorBtn" id="runBtn" onclick="run()">&nbsp;运行</div>
                <div class="fa fa-undo editorBtn" id="resetBtn" onclick="refresh()">&nbsp;重载</div>
            </div>
            <div id="editor">

            </div>
        </div>
        <div class="col-md-12 pane" id="previewPane">
        </div>
    </section>

</div>
<!-- 内容区 end-->



