<nav class="navbar navbar-static-top">
    <div class="nav-header">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="./index.html">Cesium Ctx_1.7.0</a>
            <div class="nav-collapse" style="display: inline-block;line-height: 40px;float:right">
                <ul class="nav" id="titleContent">
                    <li class="">
                        <a href="https://learnopengl-cn.github.io/intro/">OpenGL学习</a>
                    </li>
                    <li class="">
                        <a href="https://webgl2fundamentals.org/webgl/lessons/zh_cn/">WebGL2 理论基础</a>
                    </li>
                    <li class="">
                        <a href="https://cesium.com/cesiumjs/">Cesium 首页</a>
                    </li>
                    <li class="">
                        <a href="https://sandcastle.cesium.com/">Cesium 沙盒</a>
                    </li>
                    <li class="">
                        <a href="https://cesium.com/docs/cesiumjs-ref-doc/">Cesium API参考</a>
                    </li>
                    <li class="">
                        <a href="../Documentation/index.html">本地 API参考</a>
                    </li>
                    <li class="">
                        <a href="http://support.supermap.com.cn:8090/webgl/web/apis/3dwebgl.html">超图参考文档(中文)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<style>
    .container ul li a {
        font-size: 15px;
        font-weight: bold;
    }
</style>


